:root {
    --background-color: 21, 21, 46;
    --accent-color: 42, 42, 91;
    --bright-color: 236, 237, 242;

    --color0_DARK: 21, 21, 46;
    --color0_LIGHT: 42, 42, 91;
    --color0_BRIGHT: 236, 237, 242;

    --color1_DARK: 40, 6, 16;
    --color1_LIGHT: 89, 13, 36;
    --color1_BRIGHT: 236, 237, 242;

    --color2_DARK: 5, 28, 46;
    --color2_LIGHT: 11, 59, 96;
    --color2_BRIGHT: 236, 237, 242;

    --color3_DARK: 7, 31, 18;
    --color3_LIGHT: 17, 75, 44;
    --color3_BRIGHT: 236, 237, 242;

    --color4_DARK: 46, 0, 46;
    --color4_LIGHT: 92, 0, 92;
    --color4_BRIGHT: 236, 237, 242;

    --color5_DARK: 8, 9, 12;
    --color5_LIGHT: 27, 29, 39;
    --color5_BRIGHT: 236, 237, 242;

    --color_custom_DARK: 21, 21, 46;
    --color_custom_LIGHT: 42, 42, 91;
    --color_custom_BRIGHT: 236, 237, 242;
}

@font-face {
    font-family: FontBars;
    src: url(fonts/Minecraftia-Regular.ttf);
}

@font-face {
    font-family: FontBig;
    src: url(fonts/Daydream.ttf);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: FontBars;
    font-size: 12px;
    max-width: 100vw;
    max-height: 100vh;
}

body {
    overflow: hidden;
}

.background {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    background-image: url('bg/powerNoBG.png');
    background-color: rgb(var(--background-color));
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right;
    background-blend-mode: overlay;
}

.container {
    padding: 5%;
    max-width: 100%;
    max-height: 100vh;
}

.container-left {
    transform-origin: top left;
}

.container-right {
    transform-origin: top right;
}

.container-bars {
    width: 500px;
}

.container-christmas {
    width: 300px;
}

.container-christmas .bar-background {
    margin-bottom: 10px;
}

.bar {
    background: rgb(var(--bright-color));
    height: 5px;
}

.text {
    color: rgb(var(--bright-color));
    padding-left: 10px;
    text-align: left;
}

#christmas-text2 {
    text-align: right;
}

.bar-background {
    background: rgb(var(--accent-color));
    height: 5px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 1px;
    overflow: hidden;

    /* border-bottom: 1px;
    border-bottom-color: #272744 ;
    border-bottom-style: solid; */

    /* left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
}

.container-clock-date {
    position: relative;
    display: inline-block;
    flex-direction: column;
    background-color: rgb(var(--bright-color));
    margin: 30px;
    padding: 20px;
    padding-top: 35px;
    padding-left: 30px;
    padding-right: 30px;
}

.week_day,
.date {
    position: relative;
    color: rgb(var(--accent-color));
    font-family: FontBig;
    bottom: 10px;
    font-size: 30px;
}

.date {
    white-space: nowrap;
    padding-top: 20px;
}

.clock {
    position: relative;
    color: rgb(var(--background-color));
    font-family: FontBig;
    bottom: 10px;
    font-size: 50px;
}