@font-face {
    font-family: FontBars;
    src: url(fonts/Minecraftia-Regular.ttf);
}

@font-face {
    font-family: FontBig;
    src: url(fonts/Daydream.ttf);
}

* {
    padding: 0;
    margin: 0;
    font-family: FontBars;
    font-size: 12;
}

body {
    position: relative;
    background-color: #151525;
}

.bars {
    display: block;
    position: relative;
    height: 50%;
    width: 500px;
    padding: 30px;
}

.year-bar, .month-bar, .week-bar, .day-bar, .hour-bar, .minute-bar, .second-bar, .milisecond-bar {
    height: 5px;
    background: #fbf5ef;    
} 

.year-text, .month-text, .week-text, .day-text, .hour-text, .minute-text, .second-text, .milisecond-text, .test  {
    color: #fbf5ef;
    padding-left: 10px;
    position: relative;
    text-align: left;
}

.bar_bg {
    margin-bottom: 20px;
    height: 5px;
    background: #494d7e;
    position: relative;
    width: 100%;
    border-radius: 1px;
    overflow: hidden;

    border-bottom: 1px;
    border-bottom-color: #272744 ;
    border-bottom-style: solid;

    /* left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
}

.clock_date {
    position: relative;
    background-color: #fbf5ef;
    /* height: 200px; */
    width: 320px;
    margin: 30px;
    padding: 30px;
}

.week_day, .date {
    position: relative;
    font-family: FontBig;
    color: #272744;
    font-size: 30;
    bottom: 10px;
}

.date {
    padding-top: 20px;
}

.clock {
    position: relative;
    font-family: FontBig;
    color: #151525;
    font-size: 50;
    bottom: 10px;
}